.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: hsl(213, 44%, 95%);
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 13px;
}

.violet {
  background-color: hsl(263, 55%, 52%);
  color: hsl(0, 0%, 100%);
  border-radius: 10px;
  padding: 20px;
}

.profile-picture {
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 100%;
}

.status,
.quote {
  color: hsla(0, 0%, 100%, 0.6);
}

.bold {
  font-size: 2rem;
  font-weight: 600;
}
