* {
  padding: 0;
  margin: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: hsl(213, 44%, 95%);
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 13px;
}

.container {
  width: 80%;
  margin: 100px auto 0;
}

.cards-container {
  display: grid;
  grid-template-columns: 2.5fr 1fr 1fr;
}

.violet {
  background-color: hsl(263, 55%, 52%);
  color: hsl(0, 0%, 100%);
  border-radius: 10px;
  padding: 20px;
}

.user {
  display: flex;
  gap: 20px;
}

.profile-picture {
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 100%;
}

.user-info {
  align-self: center;
}

.name {
  font-size: 1.5rem;
}

.status {
  font-size: 1.2rem;
}

.status,
.quote {
  color: hsla(0, 0%, 100%, 0.6);
}

.bold {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.quotation-parent {
  position: relative;
}

.quotation-svg {
  position: absolute;
  top: 0;
  right: 100px;
  z-index: 1;
}

.testimonial {
  position: relative;
  z-index: 2;
}
